* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 30px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    
}

.heading {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    color: #4aaaa5;
    
}

/* NAV STYLES */

.navbar {
    display: flex;
    justify-content: center;
    border-bottom: #cccccc solid 1px;
    
}

.nav-title {
    
    color: white;
    background-color: #4aaaa5;
    padding: 25px;
    font-size: .8em
}

#title {
    color: white;
}

.nav-links  {
    margin-left: 500px;
    margin-top: 30px;
    
}

.nav-links a {
    margin-left: 5px;
    text-decoration: none;
    color: #cccccc;
    transition: 0.5s
}

.nav-links a:hover {
    color: #4aaaa5;
    text-decoration: underline
}

ul {
    align-content: flex-end;
}

/* ABOUT STYLES */

.about-wrapper {
    display: flex;
    justify-content: center;
}

.about-container {
    height: 81.5vh;
    width: 960px;
    display: flex;
    padding: 10px;

}

.title-section h3 {
    padding: 20px;
    font-size: 1.5em;
}

p {
    margin: 10px;
}



img {
    height: 200px;
    width: auto;
    float: left;
    margin: 20px 30px 15px 5px;
}

/* FOOTER STYLES */

.footer-wrapper {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: gray;
    border-top: 6px solid turquoise;
}